.active{
    // text-decoration: underline;
}
.basket-box {
  cursor: pointer;
  background: #fff;
  font-size: 1.2rem;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  top: 45vh;
  width: 3rem;
  height: 3rem;
  border-radius: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}

.basket-content {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basket-content::after {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: -3px;
  top: -5px;
  content: attr(data-count);
  color: white;
  border-radius: 3rem;
  width: 1.32rem;
  height: 1.32rem;
  font-size: 0.7rem;
  font-weight: bolder;
}


.basket-content-elt .single-menu {
  padding: 0;
  margin-top: 0;
}
