<section class="instagram spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 p-0">
        <div class="instagram__text">
          <div class="section-title">
            <span>Suivez-nous </span>
            <h5>Du contenu appétissant et amusant pour vous. Ne manques pas nos promotions, suivez-nous sur les réseaux.</h5>
          </div>
          <h5><i class="fa fa-twitter"></i><a class="text-accent" href="https://twitter.com/delicesmilly"> @delicesmilly</a></h5>
          <h5><i class="fa fa-instagram"></i> <a class="text-accent"
              href="https://instagram.com/delicesmilly">@delicesmilly</a></h5>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram__pic">
              <img
                src="https://bucket-my-store.s3.amazonaws.com/48/produit-5-cr%C3%AApes-ananas-42450225-CDF9-4CF4-BCA9-2BC304FD1113.jpeg"
                alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram__pic middle__pic">
              <img src="https://bucket-my-store.s3.amazonaws.com/83/produit-EACB0B28-9869-48BB-B96B-6B6F0CED3DFA.jpeg"
                alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram__pic">
              <img src="https://bucket-my-store.s3.amazonaws.com/52/produit-6333FE8B-8734-491B-AAC5-9379AE861BBD.jpeg"
                alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram__pic">
              <img src="https://bucket-my-store.s3.amazonaws.com/39/produit-D846DA7A-E43D-43DA-9BA5-E117A43B061C.jpeg"
                alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram__pic middle__pic">
              <img
                src="https://instagram.fcdg2-1.fna.fbcdn.net/v/t51.2885-15/e35/146671264_443072050383922_3576586549336728873_n.jpg?tp=1&_nc_ht=instagram.fcdg2-1.fna.fbcdn.net&_nc_cat=110&_nc_ohc=DE-7U4mQgBgAX812oeJ&oh=16af6fd51c6d774a1ec72c0dec7e9889&oe=606BD039"
                alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram__pic">
              <img
                src="https://instagram.fcdg2-1.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/139736387_2885815051700398_1742756139568136941_n.jpg?tp=1&_nc_ht=instagram.fcdg2-1.fna.fbcdn.net&_nc_cat=110&_nc_ohc=tXvaN7fXLacAX8dGmxD&oh=c6bb20402d51713c9b31838af091e58f&oe=606A6989"
                alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>