<!-- Main Container -->
<section class="main-container col1-layout bounceInUp animated">
  <div class="main container">
    <div class="account-login">
      <div class="page-title">
        <h1>Login or Create an Account</h1>
      </div>
      <fieldset class="col2-set">
        <legend>Login or Create an Account</legend>
        <div class="col-1 new-users"><strong>New Customers</strong>
          <div class="content">
            <p>By creating an account with our store, you will be able to move through the checkout process faster,
              store multiple shipping addresses, view and track your orders in your account and more.</p>
            <div class="buttons-set">
              <button class="button create-account"><span>Create an Account</span></button>
            </div>
          </div>
        </div>
        <div class="col-2 registered-users"><strong>Registered Customers</strong>
          <div class="content">
            <p>If you have an account with us, please log in.</p>
            <ul class="form-list">
              <li>
                <label for="email">Email Address <span class="required">*</span></label>
                <br>
                <input type="text" title="" class="input-text" id="email" value="" name="">
              </li>
              <li>
                <label for="pass">Password <span class="required">*</span></label>
                <br>
                <input type="password" title="" id="pass" class="input-text" name="">
              </li>
            </ul>
            <p class="required">* Required Fields</p>
            <div class="buttons-set">
              <button id="send2" name="" type="submit" class="button login"><span>Login</span></button>
              <a class="forgot-word" href="#">Forgot Your Password?</a> </div>
          </div>
        </div>
      </fieldset>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</section>
<!-- Main Container End -->