.input_field {
  width: 100%;
  height: 50px;
  border: 1px solid #e1e1e1;
  background: #fafafa;
  font-size: 14px;
  color: #111111;
  padding-left: 20px;
  margin-bottom: 30px;
}

.input_field:last-child {
  color: #111111;
}

textarea {
  width: 100%;
  height: 140px;
  border: 1px solid #e1e1e1;
  background: #fafafa;
  font-size: 14px;
  color: #111111;
  padding-left: 20px;
  padding-top: 12px;
  margin-bottom: 24px;
  resize: none;
}

textarea:last-child {
  color: #111111;
}