<section class="hero">
  <div class="hero__slider owl-carousel">
    <div class="hero__item set-bg" data-setbg="./assets/img/crepes_choco.jpg">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <div class="hero__text">
              <h2>Faites plaisir à ceux qui comptent !</h2>
              <a href="#" class="primary-btn">Voir nos packs</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__item set-bg" data-setbg="./assets/img/crepes_choco_coco.jpg">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <div class="hero__text">
              <h2>Envie de douceurs ?</h2>
              <a href="#" class="primary-btn">Nos crêpes</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>