<section class="hero">
  <div class="hero__slider owl-carousel">
    <div *ngFor="let carousel of company?.datas?.settings?.homescreen?.carousel" class="hero__item"
      [ngStyle]="{'background-image': 'url(\''+carousel.image+'\')', 'background-size':'cover'}">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <div class="hero__text">
              <h2>{{carousel.text}}</h2>
              <a [href]="carousel.action_link" class="primary-btn">{{carousel.action_text}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="hero__item set-bg" data-setbg="./assets/img/crepes_choco_coco.jpg">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <div class="hero__text">
              <h2>Envie de douceurs ?</h2>
              <a href="#" class="primary-btn">Nos crêpes</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>