<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="breadcrumb__text">
          <h2 class="font-customer" style="font-weight: 300; font-size: 70px">{{title}}</h2>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="breadcrumb__links">
          <a  *ngFor="let breadcrumb of breadcrumbs" [routerLink]="breadcrumb.link">{{breadcrumb.name}}</a>
          <span>{{end_breadcrumb}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->
