<!-- Shop Section Begin -->
<section class="shop spad">
  <div class="container">
    <div class="shop__option">
      <div class="row">
        <div class="col-lg-7 col-md-7">
          <div class="shop__option__search">
            <form action="#">
              <select class="nice-select" (change)="updateCollection($event.target.value)">
                <option value="">Collections</option>
                <option *ngFor="let collection of company?.collections" [value]="collection.name">
                  {{collection.name}}
                </option>
              </select>
              <input type="search" (keyup)="search($event.target.value)" placeholder="Recherche" />
              <!-- <button (click)="search('')" type="submit"><i class="fa fa-search"></i></button> -->
            </form>
          </div>
        </div>
        <div class="col-lg-5 col-md-5">
          <div class="shop__option__right">
            <select class="nice-select">
              <option value="">Alphabétique décroissant </option>
              <option value="">Alphabétique croissant</option>
              <option value="">Automatique </option>
              <option value="">Prix décroissant</option>
              <option value="">Prix croissant</option>
            </select>
            <!-- <a href="#"><i class="fa fa-list"></i></a>
            <a href="#"><i class="fa fa-reorder"></i></a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let product of products" class="col-lg-3 col-md-6 col-sm-6" style="cursor: pointer;">
        <a [routerLink]="'/produits/'+product.id">
          <div class="product__item">
            <div class="product__item__pic set-bg" [attr.data-setbg]=""
              [ngStyle]="{'background-image': getUrl(product) }">
              <div class="product__label">
                <span>{{ product.collections.join(" ")}}</span>
              </div>
            </div>
            <div class="product__item__text">
              <h6><a href="#">{{product.name}}</a></h6>
              <div class="product__item__price" style="color: #e0114f">{{product.price}} {{company.devise.symbol}}</div>
              <div class="cart_add">
                <span (click)="addToCart(product.id)">Ajouter au panier</span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="shop__last__option">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <!-- 
          <div class="shop__pagination">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#"><span class="arrow_carrot-right"></span></a>
        </div>
    -->
        </div>
        <div *ngIf="products" class="col-lg-6 col-md-6 col-sm-6">
          <div class="shop__last__text">
            <p>{{products.length}} produits affichés</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Shop Section End -->
