.btn-click {
  cursor: pointer;
  padding: 0 1rem;
  text-align: center;
  display: inline-block;
}

form input {
  text-transform: uppercase;
}

.shopping__cart__table table tbody tr td.quantity__item .quantity .pro-qty{
    width: auto;
}
.table thead th {
  border-bottom: none;
  border-top: none;
}

.table tbody td {
  border-bottom: none;
  border-top: none;
}