<!-- Class Section Begin -->
<section class="class spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="class__form">
          <div class="section-title">
            <span>Traiteur évenementiel</span>
            <h2>Un évènement à venir ?<br />Nous sommes prêts</h2>
          </div>
          <form action="#">
            <input type="text" placeholder="Votre nom">
            <input type="text" placeholder="Numéro de téléphone">
            <input type="datetime-local" placeholder="Date de l'évènement ">
            <!-- <textarea name="" id="" cols="30" rows="10"></textarea> -->
            <input type="text" placeholder="Des précisions ?">
            <small>Vous serez recontacté très vite</small>
            <button type="submit" class="site-btn">Enregistrer</button>
          </form>
        </div>
      </div>
    </div>
    <div class="class__video set-bg"
      data-setbg="https://instagram.fcdg2-1.fna.fbcdn.net/v/t51.2885-15/e35/151328394_1150887005381967_8423900510993662092_n.jpg?tp=1&_nc_ht=instagram.fcdg2-1.fna.fbcdn.net&_nc_cat=103&_nc_ohc=23_XahRyB98AX8xWQLV&oh=cdf235d7767947384fd77a0afe0c8a03&oe=606BC3E1">
      <a href="https://www.youtube.com/watch?v=8PJ3_p7VqHw&list=RD8PJ3_p7VqHw&start_radio=1"
        class="play-btn video-popup"><i class="fa fa-play"></i></a>
    </div>
  </div>
</section>
<!-- Class Section End -->