footer{
    position: relative;
}

footer::after{
    content: "";
    display: inline-block;
    background: #000000DD;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
footer .container,
footer .copyright {
    z-index: 1;
    position: relative;
}