<!-- About Section Begin -->
<section class="about spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="about__text">
          <div class="section-title">
            <span>À propos des Délices de Milly</span>
            <h2>Milly est une amoureuse de petites patisseries</h2>
          </div>
          <p>Oui, Les Délices de Milly fait des crêpes, pancakes, gaufres et bien d'autres pour vos anniversaires,
            brunch, conférences, etc.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="about__bar">
          <div class="about__bar__item">
            <p>Amour</p>
            <div id="bar1" class="barfiller">
              <div class="tipWrap"><span class="tip"></span></div>
              <span class="fill" data-percentage="95"></span>
            </div>
          </div>
          <div class="about__bar__item">
            <p>Goût</p>
            <div id="bar2" class="barfiller">
              <div class="tipWrap"><span class="tip"></span></div>
              <span class="fill" data-percentage="80"></span>
            </div>
          </div>
          <div class="about__bar__item">
            <p>Qualité</p>
            <div id="bar3" class="barfiller">
              <div class="tipWrap"><span class="tip"></span></div>
              <span class="fill" data-percentage="90"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Section End -->