<!-- Team Section Begin -->
<section class="team spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="section-title">
          <span>Notre équipe</span>
          <h2>Nous sommes parés pour vous</h2>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="team__btn">
          <a href="#" class="primary-btn">Rejoindre l'équipe</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team__item set-bg"
          data-setbg="https://pbs.twimg.com/profile_images/1363048935108059136/rkwk13Dv_400x400.jpg">
          <div class="team__item__text">
            <h6>Ndougwo Camille</h6>
            <span>CEO</span>
            <div class="team__item__social">
              <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
              <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
              <a href="https://linkedin.com"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team__item set-bg" data-setbg="assets/img/team/team-2.jpg">
          <div class="team__item__text">
            <h6>Randy Butler</h6>
            <span>Decorater</span>
            <div class="team__item__social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team__item set-bg" data-setbg="assets/img/team/team-3.jpg">
          <div class="team__item__text">
            <h6>Randy Butler</h6>
            <span>Decorater</span>
            <div class="team__item__social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team__item set-bg" data-setbg="assets/img/team/team-4.jpg">
          <div class="team__item__text">
            <h6>Randy Butler</h6>
            <span>Decorater</span>
            <div class="team__item__social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
<!-- Team Section End -->