<!-- Team Section Begin -->
<section class="team spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="section-title">
          <span>Notre équipe</span>
          <h2>Nous sommes parés pour vous</h2>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="team__btn">
          <a [href]="'https://wa.me/'+company?.tel+'?text=Hello, je souhaite rejoindre votre équipe.'" class="primary-btn">Rejoindre l'équipe</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let member of company?.datas?.settings?.team">
        <div class="team__item set-bg"
          data-setbg="" [style.backgroundImage]="'url('+member.profile+')'">
          <div class="team__item__text">
            <h6>{{member.name}}</h6>
            <span>{{member.title}}</span>
            <div class="team__item__social">
              <a *ngFor="let social of member.social_medias" [href]="social.link"><i
                  [class]="'fa fa-'+social.name"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team Section End -->